.ConterlButton {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;
}

ul {
    list-style: none;
}

.ConterlButton ul li {
    float: left;
    padding: 5px 5px;
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, .5)
}

.clearfix:after {
    content: '';
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.clearfix {
    zoom: 1;
}